
<!-- main block Desktop -->
<div class="row block-welcome-1">

	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 align-self-center">

				<!-- <div class="circle-1"></div> -->
				

				<div class="network-box">
					<h2>Our network of Experienced Trademark Attorneys</h2>
					<!-- <span class="title-separator"></span> -->
					<p>in 195 Countries and Treaty Regions can provide you with fast, simple, and cost-efficient trademark filing services</p>

					<!-- SEARCH BOX -->
					<div id="search">
						<form method="POST" action="/search/serial-number">
						
							<div class="input-group search-block">

								<button type="submit">
									<i class="fa fa-search"></i>
								</button>
								<input type="text" class="form-control" name="case_number" placeholder="Search Serial Number" required>

							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-6 ">
				<!-- <div class="circle-2"></div> -->
				<!-- <img src="/images/h_fold1.png" alt="Register Trademark" class="img-responsive send-up" > -->
			</div>

		</div>
	</div>

</div>


<!-- 2nd block -->

<div class="row d-none d-md-block d-lg-block d-xl-block">
	<div class="col-12 ">
		
		<div class="network-box-form">
			<div id="continent" class="box-form">
				<h5> I would like to register a trademark in : <span></span> </h5>
				
				
				<ul id="continentsToggle" class="continentsToggle ">
				
					
					<li class="" data-abbr="7" data-name="South America">South America</li>
					
				
					
					<li class="active" data-abbr="6" data-name="Europe">Europe</li>
					
				
					
					<li class="" data-abbr="1" data-name="Middle East">Middle East</li>
					
				
					
					<li class="" data-abbr="3" data-name="North America">North America</li>
					
				
					
					<li class="" data-abbr="4" data-name="Oceania">Oceania</li>
					
				
					
					<li class="" data-abbr="5" data-name="Africa">Africa</li>
					
				
					
					<li class="" data-abbr="2" data-name="Asia">Asia</li>
					
				
					
					<li class="" data-abbr="8" data-name="Central America">Central America</li>
					
				
				</ul>

			</div>

			<div class="country-contents">
				
				
				<div class="row continent continent-7 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-argentina">
							<img src="images/countries/ar.png">Argentina
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-brazil">
							<img src="images/countries/br.png">Brazil
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bolivia">
							<img src="images/countries/bo.png">Bolivia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-guyana">
							<img src="images/countries/gy.png">Guyana
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-chile">
							<img src="images/countries/cl.png">Chile
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-colombia">
							<img src="images/countries/co.png">Colombia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ecuador">
							<img src="images/countries/ec.png">Ecuador
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-paraguay">
							<img src="images/countries/py.png">Paraguay
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-suriname">
							<img src="images/countries/sr.png">Suriname
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-peru">
							<img src="images/countries/pe.png">Peru
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-uruguay">
							<img src="images/countries/uy.png">Uruguay
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-venezuela">
							<img src="images/countries/ve.png">Venezuela
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-6 show">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-albania">
							<img src="images/countries/al.png">Albania
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-andorra">
							<img src="images/countries/ad.png">Andorra
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-armenia">
							<img src="images/countries/am.png">Armenia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-azerbaijan">
							<img src="images/countries/az.png">Azerbaijan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-belarus">
							<img src="images/countries/by.png">Belarus
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-belgium">
							<img src="images/countries/be.png">Belgium
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-benelux">
							<img src="images/countries/bx.png">Benelux
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bosnia_and_herzegovina">
							<img src="images/countries/ba.png">Bosnia and Herzegovina
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bulgaria">
							<img src="images/countries/bg.png">Bulgaria
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-croatia">
							<img src="images/countries/hr.png">Croatia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-cyprus">
							<img src="images/countries/cy.png">Cyprus
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-czech_republic">
							<img src="images/countries/cz.png">Czech Republic
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-denmark">
							<img src="images/countries/dk.png">Denmark
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-estonia">
							<img src="images/countries/ee.png">Estonia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-european_union">
							<img src="images/countries/em.png">European Union
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-finland">
							<img src="images/countries/fi.png">Finland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-france">
							<img src="images/countries/fr.png">France
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-georgia">
							<img src="images/countries/ge.png">Georgia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-germany">
							<img src="images/countries/de.png">Germany
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-gibraltar">
							<img src="images/countries/gi.png">Gibraltar
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-greece">
							<img src="images/countries/gr.png">Greece
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-guernsey">
							<img src="images/countries/gg.png">Guernsey
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-hungary">
							<img src="images/countries/hu.png">Hungary
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-iceland">
							<img src="images/countries/is.png">Iceland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ireland">
							<img src="images/countries/ie.png">Ireland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-italy">
							<img src="images/countries/it.png">Italy
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-jersey">
							<img src="images/countries/je.png">Jersey
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-kosovo">
							<img src="images/countries/ks.png">Kosovo
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-latvia">
							<img src="images/countries/lv.png">Latvia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-liechtenstein">
							<img src="images/countries/li.png">Liechtenstein
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-lithuania">
							<img src="images/countries/lt.png">Lithuania
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-luxembourg">
							<img src="images/countries/lu.png">Luxembourg
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-macedonia">
							<img src="images/countries/mk.png">Macedonia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-malta">
							<img src="images/countries/mt.png">Malta
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-moldova">
							<img src="images/countries/md.png">Moldova
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-monaco">
							<img src="images/countries/mc.png">Monaco
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-netherlands">
							<img src="images/countries/nl.png">Netherlands
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-norway">
							<img src="images/countries/no.png">Norway
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-poland">
							<img src="images/countries/pl.png">Poland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-portugal">
							<img src="images/countries/pt.png">Portugal
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-romania">
							<img src="images/countries/ro.png">Romania
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-russian_federation">
							<img src="images/countries/ru.png">Russian Federation
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-san_marino">
							<img src="images/countries/sm.png">San Marino
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-serbia">
							<img src="images/countries/rs.png">Serbia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-montenegro">
							<img src="images/countries/me.png">Montenegro
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-sint_maarten">
							<img src="images/countries/sx.png">Sint Maarten
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-slovakia">
							<img src="images/countries/sk.png">Slovakia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-slovenia">
							<img src="images/countries/si.png">Slovenia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-spain">
							<img src="images/countries/es.png">Spain
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-sweden">
							<img src="images/countries/se.png">Sweden
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-switzerland">
							<img src="images/countries/ch.png">Switzerland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ukraine">
							<img src="images/countries/ua.png">Ukraine
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-united_kingdom">
							<img src="images/countries/gb.png">United Kingdom
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-1 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-turkey">
							<img src="images/countries/tr.png">Turkey
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-united_arab_emirates">
							<img src="images/countries/ae.png">United Arab Emirates
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-yemen">
							<img src="images/countries/ye.png">Yemen
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-kurdistan_region">
							<img src="images/countries/krd.png">Kurdistan Region
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-saudi_arabia">
							<img src="images/countries/sa.png">Saudi Arabia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-iraq">
							<img src="images/countries/iq.png">Iraq
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-palestine">
							<img src="images/countries/ps.png">Palestine
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bahrain">
							<img src="images/countries/bh.png">Bahrain
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-israel">
							<img src="images/countries/il.png">Israel
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-jordan">
							<img src="images/countries/jo.png">Jordan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-kuwait">
							<img src="images/countries/kw.png">Kuwait
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-lebanon">
							<img src="images/countries/lb.png">Lebanon
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-qatar">
							<img src="images/countries/qa.png">Qatar
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-oman">
							<img src="images/countries/om.png">Oman
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-3 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-canada">
							<img src="images/countries/ca.png">Canada
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mexico">
							<img src="images/countries/mx.png">Mexico
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-united_states">
							<img src="images/countries/us.png">United States
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-4 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-american_samoa">
							<img src="images/countries/as.png">American Samoa
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-australia">
							<img src="images/countries/au.png">Australia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-fiji">
							<img src="images/countries/fj.png">Fiji
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-new_zealand">
							<img src="images/countries/nz.png">New Zealand
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-samoa">
							<img src="images/countries/ws.png">Samoa
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-solomon_islands">
							<img src="images/countries/sb.png">Solomon Islands
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-tonga">
							<img src="images/countries/to.png">Tonga
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-5 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-benin">
							<img src="images/countries/bj.png">Benin
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-anguilla">
							<img src="images/countries/ai.png">Anguilla
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-angola">
							<img src="images/countries/ao.png">Angola
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-botswana">
							<img src="images/countries/bw.png">Botswana
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-burkina_faso">
							<img src="images/countries/bf.png">Burkina Faso
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-cape_verde">
							<img src="images/countries/cv.png">Cape Verde
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-burundi">
							<img src="images/countries/bi.png">Burundi
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-algeria">
							<img src="images/countries/dz.png">Algeria
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-cameroon">
							<img src="images/countries/cm.png">Cameroon
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-central_african_republic">
							<img src="images/countries/cf.png">Central African Republic
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-chad">
							<img src="images/countries/td.png">Chad
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-comoros">
							<img src="images/countries/km.png">Comoros
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-republic_of_the_congo">
							<img src="images/countries/cg.png">Republic of the Congo
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ivory_coast">
							<img src="images/countries/ci.png">Ivory Coast
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-djibouti">
							<img src="images/countries/dj.png">Djibouti
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ethiopia">
							<img src="images/countries/et.png">Ethiopia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-equatorial_guinea">
							<img src="images/countries/gq.png">Equatorial Guinea
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-eritrea">
							<img src="images/countries/er.png">Eritrea
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-gabon">
							<img src="images/countries/ga.png">Gabon
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-gambia">
							<img src="images/countries/gm.png">Gambia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-ghana">
							<img src="images/countries/gh.png">Ghana
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-guinea">
							<img src="images/countries/gn.png">Guinea
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-guinea-bissau">
							<img src="images/countries/gw.png">Guinea-Bissau
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-kenya">
							<img src="images/countries/ke.png">Kenya
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-lesotho">
							<img src="images/countries/ls.png">Lesotho
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-liberia">
							<img src="images/countries/lr.png">Liberia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-madagascar">
							<img src="images/countries/mg.png">Madagascar
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-libya">
							<img src="images/countries/ly.png">Libya
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-malawi">
							<img src="images/countries/mg.png">Malawi
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mali">
							<img src="images/countries/ml.png">Mali
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mauritania">
							<img src="images/countries/mr.png">Mauritania
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mauritius">
							<img src="images/countries/mu.png">Mauritius
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-morocco">
							<img src="images/countries/ma.png">Morocco
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mozambique">
							<img src="images/countries/mz.png">Mozambique
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-namibia">
							<img src="images/countries/na.png">Namibia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-papua_new_guinea">
							<img src="images/countries/pg.png">Papua New Guinea
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-niger">
							<img src="images/countries/ne.png">Niger
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-nigeria">
							<img src="images/countries/ng.png">Nigeria
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-rwanda">
							<img src="images/countries/rw.png">Rwanda
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-sao_tome_and_principe">
							<img src="images/countries/st.png">Sao Tome and Principe
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-senegal">
							<img src="images/countries/sn.png">Senegal
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-seychelles">
							<img src="images/countries/sc.png">Seychelles
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-sierra_leone">
							<img src="images/countries/sl.png">Sierra Leone
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-south_africa">
							<img src="images/countries/za.png">South Africa
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-togo">
							<img src="images/countries/tg.png">Togo
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-swaziland">
							<img src="images/countries/sz.png">Swaziland
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-tanzania">
							<img src="images/countries/tz.png">Tanzania
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-tunisia">
							<img src="images/countries/tn.png">Tunisia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-uganda">
							<img src="images/countries/ug.png">Uganda
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-zambia">
							<img src="images/countries/zm.png">Zambia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-zimbabwe">
							<img src="images/countries/zw.png">Zimbabwe
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-aripo_treaty">
							<img src="images/countries/aripo.png">ARIPO Treaty
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-oapi_treaty">
							<img src="images/countries/oapi.png">OAPI Treaty
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-zanzibar">
							<img src="images/countries/eaz.png">Zanzibar
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-2 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-iran">
							<img src="images/countries/ir.png">Iran
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-south_korea">
							<img src="images/countries/kr.png">South Korea
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-kyrgyzstan">
							<img src="images/countries/kg.png">Kyrgyzstan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-macau">
							<img src="images/countries/mo.png">Macau
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-maldives">
							<img src="images/countries/mv.png">Maldives
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-pakistan">
							<img src="images/countries/pk.png">Pakistan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-philippines">
							<img src="images/countries/ph.png">Philippines
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-sri_lanka">
							<img src="images/countries/lk.png">Sri Lanka
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-cambodia">
							<img src="images/countries/kh.png">Cambodia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-turkmenistan">
							<img src="images/countries/tm.png">Turkmenistan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-india">
							<img src="images/countries/in.png">India
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-myanmar">
							<img src="images/countries/mm.png">Myanmar
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-nepal">
							<img src="images/countries/mm.png">Nepal
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-malaysia">
							<img src="images/countries/my.png">Malaysia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bangladesh">
							<img src="images/countries/bd.png">Bangladesh
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bermuda">
							<img src="images/countries/bm.png">Bermuda
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-china">
							<img src="images/countries/cn.png">China
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-japan">
							<img src="images/countries/jp.png">Japan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-thailand">
							<img src="images/countries/th.png">Thailand
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-vietnam">
							<img src="images/countries/vn.png">Vietnam
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-mongolia">
							<img src="images/countries/mn.png">Mongolia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-indonesia">
							<img src="images/countries/id.png">Indonesia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-tajikistan">
							<img src="images/countries/tj.png">Tajikistan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-egypt">
							<img src="images/countries/eg.png">Egypt
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-singapore">
							<img src="images/countries/sg.png">Singapore
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-taiwan">
							<img src="images/countries/tw.png">Taiwan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-east_timor">
							<img src="images/countries/tl.png">East Timor
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-brunei_darussalam">
							<img src="images/countries/bn.png">Brunei Darussalam
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bhutan">
							<img src="images/countries/bt.png">Bhutan
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-hong_kong">
							<img src="images/countries/hk.png">Hong Kong
						</a>
					</div>
	
					
				</div>
				
				<div class="row continent continent-8 ">
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-antigua_and_barbuda">
							<img src="images/countries/ag.png">Antigua and Barbuda
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-aruba">
							<img src="images/countries/ag.png">Aruba
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-bahamas">
							<img src="images/countries/bs.png">Bahamas
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-barbados">
							<img src="images/countries/bb.png">Barbados
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-belize">
							<img src="images/countries/bz.png">Belize
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-british_virgin_islands">
							<img src="images/countries/vg.png">British Virgin Islands
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-cayman_islands">
							<img src="images/countries/ky.png">Cayman Islands
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-costa_rica">
							<img src="images/countries/cr.png">Costa Rica
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-dominica">
							<img src="images/countries/dm.png">Dominica
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-dominican_republic">
							<img src="images/countries/do.png">Dominican Republic
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-el_salvador">
							<img src="images/countries/sv.png">El Salvador
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-grenada">
							<img src="images/countries/gd.png">Grenada
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-guatemala">
							<img src="images/countries/gt.png">Guatemala
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-haiti">
							<img src="images/countries/ht.png">Haiti
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-honduras">
							<img src="images/countries/hn.png">Honduras
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-jamaica">
							<img src="images/countries/jm.png">Jamaica
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-montserrat">
							<img src="images/countries/ms.png">Montserrat
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-nicaragua">
							<img src="images/countries/ni.png">Nicaragua
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-panama">
							<img src="images/countries/pa.png">Panama
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-puerto_rico">
							<img src="images/countries/pr.png">Puerto Rico
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-saint_kitts_and_nevis">
							<img src="images/countries/kn.png">Saint Kitts and Nevis
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-saint_lucia">
							<img src="images/countries/lc.png">Saint Lucia
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-saint_vincent_and_the_grenadines">
							<img src="images/countries/vc.png">Saint Vincent and the Grenadines
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-trinidad_and_tobago">
							<img src="images/countries/tt.png">Trinidad and Tobago
						</a>
					</div>
	
					

					<div class="col-md-3">
						<a href="/trademark-registration-in-turks_and_caicos_islands">
							<img src="images/countries/tc.png">Turks and Caicos Islands
						</a>
					</div>
	
					
				</div>
				
				
			</div>

		</div>

	</div>
</div>


<!--  block about -->
<div class="bg-gray">
	
	<div class="about-bg">
		<div class="container" >

			<div class="row about-block align-items-center">
				
				<div class="blue-circle pos-1"></div>
				<div class="blue-circle-2 pos-2"></div>
				
				<div class="col-12 col-md-12 text-center">
					<h2 class="">Trademark Registration Experience</h2>
					
				
					<p class="lead">We have a team of lawyers, with years of experience in Trademark Registrations, which allows us to assure you:</p>

					<span class="title-separator"></span>
					
					<ul class="about-service-list">
						<li><div>
							<p style="padding-top:36px;"><img src="/images/v2-assets/timely-information.svg"></p>
							<p class="lead">Timely information</p>
							<p>Register faster</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/deal-w-trademark.svg"></p>
							<p class="lead">Deal with Trademark</p>
							<p>Objections as required</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/transparent-status-updates.svg"></p>
							<p class="lead">Transparent status updates</p>
							<p>Objections as required</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/absolute-confidentiality.svg"></p>
							<p class="lead">Absolute confidentiality</p>
							<p>Through online portal</p>
						</div></li>

						<li><div>
							<p><img src="/images/v2-assets/competent-professionals.svg"></p>
							<p class="lead">Competent professionals</p>
							<p>Register Lawyers</p>
						</div></li>

					</ul>
					<p class="spacer"></p>
				</div>

				<!-- <div class="col-12 col-md-6 text-center">
					<img src="/images/img19.jpg" class="img-fluid" />
				</div> -->

				<!-- NEXT BLOCK HERE -->
				
				<div class="col-12 col-md-6">
					<h2>What We Can Do For You</h2>
					<span class="title-separator"></span>

					<p class="lead">TradeMarkers provides trademark and intellectual property protection for brands used in the United Kingdom and internationally. We work with a wide range of clients, from small businesses establishing a corporate identity to large companies with a portfolio of brands.</p>
					
				</div>

				<div class="col-12 col-md-6">
					<ul class="rev-arrow-v2">
						<li> <a href="/countries">Trademark <b>Study</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/countries">Trademark <b>Registration</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/monitoring-service">Trademark <b>Monitoring</b><img src="/images/v2-assets/ui.svg"></a></li>
						<li> <a href="/quote/office-action-response">Office Action <b>Response</b><img src="/images/v2-assets/ui.svg"></a></li>
					</ul>
				</div>

				<div class="col-12">
					<a href="/countries" class="btn btn-black btn-rounded-primary">Register Trademark</a>
				</div>

			</div>
			

		</div>

		
		<!-- <svg style="margin-top:-200px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 240"><path fill="#FFF" fill-opacity="1" d="M0,192L80,202.7C160,213,320,235,480,234.7C640,235,800,213,960,197.3C1120,181,1280,171,1360,165.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg> -->
	</div>
</div>

<!--  block video -->
<div class="bg-video">
	<div class="container">
		<div class="row about-block align-items-center">
			
			<div class="col-12 col-md-6">
				<span class="text-bg">?</span>
				<h3>What is a Trademark? How Do I Register One?</h3>
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
					<a href="/videos/why-register-a-trademark">
					<img src="https://img.youtube.com/vi/1Ga6zI-GPZM/hqdefault.jpg" width="100%" alt="" style="position: relative;">
					<img src="/images/video.png" width="30%" style="position: absolute; bottom: calc(50% - 35px); left: calc(50% - 43px);">
					</a>
				<!-- <div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1Ga6zI-GPZM" allowfullscreen></iframe>
				</div> -->
				</div>
			</div>

			<div class="col-12 col-md-6">
				<span class="text-bg">!</span>
				<h3>Trademark Classes - All You Need to Know!</h3>
				<!-- <span class="title-separator"></span> -->
				<div class="wrap-vid">
					<a href="/videos/trademark-classes">
					<img src="https://img.youtube.com/vi/ZkgvkoGbNls/hqdefault.jpg" width="100%" alt="" style="position: relative;">
					<img src="/images/video.png" width="30%" style="position: absolute; bottom: calc(50% - 35px); left: calc(50% - 43px);">
					</a>
				</div>
			</div>

			<div class="col-12 text-center" style="padding-bottom: 122px;">
				<a href="/videos" class="btn btn-white btn-rounded-primary">More Videos</a>
			</div>

		</div>
	</div>
</div>

<!--  block about -->
<div class="bg-contact">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-md-6" style="margin:auto">

				
			
				<div class="contact-div">
					<h2>We can do it all</h2> 
					
					<p class="lead">Get in touch for a free consultation.</p>
					<span class="title-separator"></span>
					<!-- <span class="title-separator"></span> -->
				</div>

				<% if (flash.successContact) { %>
				<div id="contactMessage" class="alert alert-success" role="alert">
					<strong><%= flash.successContact %></strong>
				</div>
				
				<% } %>
			
				<% if (flash.errorContact) { %>
					<div id="contactMessage" class="alert alert-warning" role="alert">
					<strong><%= flash.errorContact %></strong>
					</div>
				<% } %>

				<form id="contact-form" class="custom-frm <%= flash.successContact ? 'collapse' : ''%>" action="/contact" method="POST">
					
					<input type="hidden" value="home" name="formLocation">
					<div class="form-group">
						<input type="name" class="form-control" id="name" value="" placeholder="Name" required name="name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control" value="" placeholder="Email" id="email" name="email" required>
						<input type="hidden" class="form-control" value="" name="email_confirm">
					</div>
					<div class="form-group">
						<input type="text"  class="form-control" pattern="[0-9]*" value="" id="phone" placeholder="Phone No." name="phone" >
					</div>
					<div class="form-group">
						<textarea class="form-control" value="" rows="7" name="message" placeholder="Message" required></textarea>
					</div>
					<p class="text-center">
						<button id="contact-btn-submit" type="submit" class="btn btn-primary btn-rounded-primary" style="padding-left:40px;padding-right:40px;">Submit</button>
					</p>
				
				</form>

			</div>


		</div>
	</div>
</div>


